
@using System.Collections
@using Domain.Entities
@model Domain.EntitiesModel
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function GetInfo() {
        $.ajax({
            url: '/api/values/',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                window.WriteResponse(data);
            },
            error: function(x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
</script>

@section Context{

    <div class="post_box pb_last">
        <div class="search-button">
            <input type="submit" value="Refresh" onclick="GetInfo()"/>
        </div>

        <div id="templatemo_sidebar">
            <div class="box-content">
                <div id="resume" style="padding-top: 20px;">
                    <div class="timeline-section">
                        <div class="about-site">
                            <div id="fieldSets">
                                <fieldset>
                                    
                                    @Data(Model.Computer)
                                    @Data(Model.Manufacturer)
                                    @Data(Model.Users)

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="cleaner"></div>
            
    </div >
}

@helper Data(object data)
{
    var item = new ArrayList();

    var computer = data as Computer;
    if (computer != null)
    {
        item.Add(computer);
    }

    var manufacturer = data as Manufacturer;
    if (manufacturer != null)
    {
        item.Add(manufacturer);
    }

    var users = data as IList<User>;
    if (users != null)
    {
        foreach (var user in users)
        {
            item.Add(user);
        }
    }

    @CreateList(item)
}

@helper CreateList(ArrayList items)
{
    if (items.Count > 0)
    {
        if (items[0] is Computer)
        {
            <ul>
                <li>
                    <div class="timelineUnit">
                        <h3 class="main-heading"><span style="line-height: 21px;">Computer name:</span></h3>
                    </div>
                </li>
            </ul>
            <ul class="border">
                <li>@Html.Label(((Computer) items[0]).Name)</li>
            </ul>
        }
        if (items[0] is Manufacturer)
        {
            <ul>
                <li>
                    <div class="timelineUnit">
                        <h3 class="main-heading"><span style="line-height: 21px;">Manufacturer name:</span></h3>
                    </div>
                </li>
            </ul>
            <ul class="border">
                <li>@Html.Label(((Manufacturer) items[0]).Name)</li>
            </ul>
        }
        if (items[0] is User)
        {
            <ul>
                <li>
                    <div class="timelineUnit">
                        <h3 class="main-heading"><span style="line-height: 21px;">Users names:</span></h3>
                    </div>
                </li>
            </ul>
            <ul class="border">
                @foreach (var item in items)
                {
                    <li>@Html.Label(((User) item).Name)</li>
                }
            </ul>
        }
    }
}



